/* Codepen Boxes Styles */
.codepen-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  margin-top: -4px;
}

.codepen-boxes > .codepen-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #36383f;
  border: 1px solid lightgrey;
  color: white;
  font-size: 1.5rem;
}

.codepen-boxes > .codepen-box > .codepen-for {
  margin-bottom: 2px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
}
